* {
    -webkit-appearance: none;
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    word-wrap:break-word !important;
    width: 100% auto;
}

/*NAVBAR*/

header {
    margin: 15px 80px 0 80px;
}

img.header {
    height: 36px;
    width: 36px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 22px;
}

nav a {
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 28px;
    margin: 0 20px;
}

nav ul {
    list-style: none;
    display: inline-flex;
}

nav label {
    display: none;
}

.xIcon{
    display: none;
}

/*MAIN CONTENT*/

main {
    display: flex;
    align-items: flex-start;
    flex-flow: column nowrap;
}

h1 {
    font-size: 48px;
}


.mainHeader {
    display: inline-flex;
    font-family: 'IBM Plex Sans', Helvetica, sans-serif;
    flex-flow: row wrap;
    margin: 16px;
    font-size: 64px;
    margin-bottom: 0px;
}

p.heading.margin {
    margin-right: 0.25em;
}

p.blue {
    color: #0000EC;
}

p.strike {
    margin-right: 3px;
    text-decoration: line-through;
}

p.intro {
    font-family: 'IBM Plex Mono', Helvetica, sans-serif;
}

.button {
    background-color: #00F3BB;
    text-decoration: none;
    font-family: 'IBM Plex Mono', Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    }


/*EPISODES SECTION*/

.episodesGrid.mobile {
    display: none;
}

.episodesSection {
    position: relative;
    height: 200vh;
    background-image: linear-gradient(#0000FF, #0000A3);
}

.episodesSection h2 {
    font-size: 36px;
    line-height: 42px;
    color: white;
    font-family: 'IBM Plex Sans', Helvetica, sans-serif;
    font-weight: normal;
    margin: 0 0 2vh 2vh;
}

svg.angledBackground {
    position: absolute;
    width: 100%;
    height: 10vw;
}

svg.angledBackground.bottom {
    bottom: 0;
}

svg.angledBackground.top {
    top: 0;
}

/*MID SECTION */

h1 {
    font-family: 'IBM Plex Sans', Helvetica, sans-serif;
    font-weight: normal;
}

.midsection p {
    font-family: 'IBM Plex Mono', Helvetica, sans-serif;
    line-height: 25px;
}

/*FOOTER SECTION*/
footer .copyright {
    font-family: 'IBM Plex Mono', Helvetica, sans-serif;
    font-size: 14px;
    color: #060A24;
}

.footerIcons a {
    margin: 2.5vh;
    color: #060A24;
}

/*ADDITIONAL STYLES*/

main .button:hover {
    color: white;
    background-position: right center;
    background-image: linear-gradient(to right, #00F0B8 0%, #0000FE 100%);
}

nav a:hover {
    color: #00F3BB;
    text-decoration: line-through;
}

nav a:active {
    color: #727272;
    text-decoration: line-through;
}

/*MEDIA QUERIES*/

/*DESKTOP DEVICES*/

    @media only screen and (min-width: 600px) {


/* NAVBAR FOR DESKTOP*/

nav {
    margin: 2% 6.9% ;
}


/*MAIN SECTION FOR DESKTOP*/

main {
    margin: 8.5% 13.9% 5% 15%;
}

.mainHeader {
    margin: 0;
}

p.strike {
    margin-right: 10px;
}

.intro.mobile {
    display: none;
}

.intro.desktop{
    width: 68.5%;
}

.button {
    padding: 2% 7.5%;
    margin-top: 6%;
    font-size: 20px;
    transition-duration: 0.4s;
}
    
/*EPISODES SECTION FOR DESKTOP*/


.episodesSection {
    height: 130vh;
}

.episodesGrid {
    margin: 10% 6.9%;
}

.episodesWrapper {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    height: 90vh;
    margin-top: 5.5vh;
}

.episodesSection h2 {
    margin-left: 10%;
    font-size: 48px;
    font-weight: 300;
}

.episodesSection iframe {
    width: 44%;
    margin-bottom: 5vh;
}

/*MIDSECTION FOR DESKTOP*/

.midsection {
    display: flex;
    margin: 1% 17%;
}

.midsection img {
    position: relative;
    bottom: 20vh;
    width: 420px;
    height: 660px;
}

.textsectionWrapper {
    width: 49%;
    margin-left: 10vh;
}

.midsection p {
    margin: 2vh 0;
}


/*GUESTS SECTION FOR DESKTOP*/

.guests h1 {
    margin: 0 15% 2%;
} 

.galleryWrapper {
    display: flex;
    flex-flow: row wrap;
}

.galleryWrapper img {
    width: 33.33%;
    height: auto;
}

/*SUBJECTS SECTION FOR DESKTOP*/

.subjects {
    margin: 2.5% 2%;
}

.subjects h1 {
    margin-left: 13%;
}

.subjectIcons {
    margin: 5% 15%;
    display: flex;
    width: 68vw;
}

.iconwtitle {
    display: flex;
    flex-flow: column wrap;
    width: 100vw;
    text-align: center;
}

.subjectIconstitle {
    font-family: 'IBM Plex Sans', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 24px;
    margin-top: 5vh;
}

/*NEWSLETTER*/

.newsletter {
    position: relative;
    height: 52vh;
    background-image: linear-gradient(#0000FF, #0000A3);
    display: flex;
    flex-direction: column;
}

.newsletter h2 {
    font-size: 48px;
    font-weight: 300;
    color: white;
    font-family: 'IBM Plex Sans', Helvetica, sans-serif;
    text-align: center;
}

.newsletter h3 {
    display: none;
}

.newsletter button {
    padding: 1.40% 7.5%;
    margin: 2% 0 10%;
    font-size: 20px;
    width: max-content;
    align-self: center;
}
/*FOOTER SECTION FOR DESKTOP*/

footer {
    display: flex;
    justify-content: space-between;
    margin: 2.5%;
}

}

/*MOBILE DEVICES*/

@media only screen and (max-width: 600px) {

body {
    width: 100%;
    max-width: 600px;
}

/* NAVBAR FOR MOBILE DEVICES */


nav {
    display: flex;
    margin: 10px 16px;
}

nav a {
    color: white;
}

nav ul li {
    display: block;
    width: 100%;
}

li {
    margin: 10px 0;
}

ul.navbar {
    list-style: none;
    display: none;
    flex-direction: column;
}

.dropdown:checked ~ ul.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0000EC;
    position: absolute;
    margin: 30px 0 0 0;
    height: 37%;
    width: 100%;
    left: 0;
}

.dropdown:checked ~ .menuIcon{
    display: none;
}

.dropdown:checked ~ .xIcon {
    display: block;
}

nav label {
    display: block;
}

img.header {
    height: 24px;
    width: 24px;
}

/*MAIN CONTENT FOR MOBILE*/

div.mainHeader {
    width: 250px;
    font-size: 40px;
}

p.intro.desktop {
    display: none;
}

p.intro.mobile {
    display: flex;
    font-size: 14px;
    line-height: 22px;
    margin: 16px 16px;
}

.button {
    font-weight: 500;
    font-size: 16px;
    padding: 4% 30%;
    align-self: center;
}

/*EPISODES SECTION FOR MOBILE */

.episodesSection {
    height: 220vh;
}

.episodesGrid {
    display: flex;
    width: 90%;
    flex-flow: column wrap;
    margin: 5vh 1.5vh 0 2.75vh;
}

.episodesSection h2 {
    font-size: 36px;
    line-height: 42px;
    color: white;
    font-family: 'IBM Plex Sans', Helvetica, sans-serif;
    font-weight: normal;
    margin: 0 0 2vh 2vh;
}
 .episodesSection h3 {
     margin-top: 2.5vh;
 }

 .episodesGrid iframe {
     margin: 1.5vh 0 1.5vh 0;
 }

 /*MID SECTION FOR MOBILE*/

 .midsection img{
    height: 9.5%;
    position: relative;
    width: 100%;
    bottom: 20.5vh;
 }

 .textsectionWrapper {
    display: flex;
    flex-flow: column;
    position: relative;
    bottom: 15vh;
    margin: 0 2.5vh;
 }

.midsection p {
    margin-top: 2vh;
}

 h1 {
     font-size: 36px;
 }

 /*GUESTS SECTION FOR MOBILE*/

.galleryWrapper {
    display: flex;
    flex-direction: column;
}

 .guests h1 {
     width: 80%;
     margin: 0 0 2vh 2.5vh;
 }

 .guests img {
     width: 100%;
     height: 100%;
 }

 /*SUBJECTS SECTION FOR MOBILE*/

 .subjects {
     margin: 7vh 2.5vh 2vh 2.5vh;
 }

.iconwtitle {
    display: flex;
    flex-flow: column nowrap;
}

 .subjectIcons {
    display: flex;
    flex-flow: column nowrap;
    margin: 5vh 0 0 0;
 }

 .subjectIconstitle {
     font-family: 'IBM Plex Sans';
     font-weight: 700;
     font-size: 24px;
     text-align: center;
     margin: 0.5vh 0 7vh 0;
 }

 /*NEWSLETTER SECTION FOR MOBILE*/

 .newsletter {
    position: relative;
    height: 50vh;
    background-image: linear-gradient(#0000FF, #0000A3);
    display: flex;
    flex-direction: column;
}

.angledBackgroundNewsletter {
    position: absolute;
    width: 100%;
    height: 10vw;
}

.newsletter h2 {
    font-family: 'IBM Plex Sans', Helvetica, sans-serif;
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    font-weight: 300;
    margin: 7.5% 5%;
}

.newsletter button{
    font-weight: 500;
    font-size: 16px;
    padding: 4% 10%;
    margin: 0 2.5vh;
    align-self: center;
}

/*FOOTER SECTION FOR MOBILE*/

footer .copyright {
    line-height: 25px;
    text-align: center;
    margin: 2.5vh 0 0 0;
}

.footerIcons.container {
    display: flex;
    justify-content: center;
}

}